################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/SWE_RoboPath_2023/v17/Browse.VC.opendb
